<div>
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <h3>Sender</h3>
                <span username/>
            </div>
            <hr>
            <div class="well">
                <h3>Recipients</h3>
                <div ng-if="recipients.length < 1">no recipients selected</div>
                <ul class="list-unstyled" ng-repeat="recipient in recipients">
                    <li>{{recipient.firstname}} {{recipient.lastname}}</li>
                </ul>
            </div>
        </div>


        <div class="col-md-7 col-md-offset-1 well">
            <div ng-show="!editMode" ng-click="editMode = !editMode">
                <div ng-bind-markdown="markdownData"></div>
            </div>
            <div ng-show="editMode">
                <textarea ui-markdown-editor="editorOptions" ng-model="markdownData"></textarea>
            </div>
        </div>

        <div class="col-md-1">
            <button ng-show="editMode" type="button" class="btn btn-primary" ng-click="editMode = !editMode">Ok</button>
            <button ng-show="!editMode" type="button" class="btn btn-primary" ng-click="editMode = !editMode">edit
            </button>
        </div>
    </div>

    <div class="row">
        <hr>
        <div edit-buttons></div>
    </div>
</div>